<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Security-Policy" content="default-src * data: gap: content: https://ssl.gstatic.com; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">
    <script src="components/loader.js"></script>
    <link rel="stylesheet" href="components/loader.css">
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="./script/dataStore.js"></script>
    
</head>
<body>
    <div id="app">
        <h3>データストア操作テスト</h3>
        <input
            type="text"
            name="score"
            class="input-score"
            placeholder="スコアを入力"
            :value="score"
            @input="inputScore"
        />
        <button @click="setGameScore">スコアを追加</button>
        
        <hr noshade>

	    <article class="wrap">

        <section class="date">
            <h2>2023/13/36</h2>
        </section>

        <section class="character-aera">
            <h3>キャラクターの名前</h3>
            <p>体力：</p>
            <p>レベル：</p>
            
            <img src="./image/odebu.png" alt="キャラ画像" class="char-img">
        </section>

        <section class="incomplete-task">
            <h3>タスク</h3>
            <ul class="task-list">
                <li class="task">掃除する</li>
                <li class="task">買い物いく</li>
                <li class="task">課題やる</li>
            </ul>
        </section>

        <section class="nav-area">
            <button>タスク</button>
            <button>ショップ</button>
            <button>お世話</button>
            <button>設定</button>
        </section>
        </article>
    
        <article class="wrap">
            <section class="todo-form">
                <input
                    type="text"
                    name="todo-text"
                    class="input-text"
                    placeholder="please input todo"
                    :value="text"
                    @input="inputText"
                />
                <button
                    class="add-button"
                    @click="addTodo"
                >ADD TODO</button>
            </section>
            <section class="list-area">
                <div class="area-incomplete">
                    <p class="todo-title">incomplete items</p>
                    <ul class="todo-area">
                        <li
                            v-for="(item, i) in incompleteTodo"
                            :key="i"
                            class="list"
                        >
                        <span class="list-label">{{item.text}}</span>
                        <span class="button-area">
                            <button 
                                class="list-button button-done"
                                @click="toggleIsDone(item.id)"
                            >DONE</button>
                            <button 
                                class="list-button button-delete"
                                @click="deleteTodo(item.id)"
                            >DELETE</button>
                        </span>
                        </li>
                    </ul>
                </div>

                <div class="area-complete">
                    <p class="todo-title">complete items</p>
                    <ul class="todo-area">
                        <li
                            v-for="(item, i) in doneTodo"
                            :key="i"
                            class="list"
                        >
                        <span class="list-label">{{item.text}}</span>
                        <span class="button-area">
                            <button 
                                class="list-button"
                                @click="toggleIsDone(item.id)"
                            >RETURN</button>
                            <button 
                                class="list-button button-delete"
                                @click="deleteTodo(item.id)"
                            >DELETE</button>
                        </span>
                        </li>
                    </ul>
                </div>
            </section>

            
        </article>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="./script/vuejs.js"></script>
</body>
</html>
